body {
    font-family: 'Cinzel', serif;
    font-size: 18px;
    line-height: 34px;
    color: black;
    background: url("../images/Blog_90s-web-trends_072215_feature-011.png");
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 80px;
    text-align: center;
    background: white;
    opacity: .99;
}

p {
    background: white;
    opacity: .99;
}

h2 {
    font-family: 'Cinzel', serif;
    font-size: 27px;
    text-align: center;
}

.answers {
  perspective: 1000px;
  padding: 0;
  list-style: none;
}

.ans {
  background-color: white;
  transition: all .3s ease;
  cursor: pointer;
  margin: 8px 0;
}

.ans:hover {
  transform: translate3d(0,0,60px);
  background: #EFEFEF;

}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}
